{% extends "base.html" %}

{% load static %}

{% block title %}Our Library{% endblock %}

{% block content %}

<div class="about-bg">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="abouttitle">
          <h2>Our Library</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="Library">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="titlepage">
          <span
            >adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris</span
          >
        </div>
      </div>
    </div>
  </div>
  <div class="bg">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="Library-box">
            <figure><img src="images/Library-.jpg" alt="#" /></figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="read-more">
          <a href="#">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
